{% extends 'layout.html' %}
{% set pageTitle = "Issues the tool can detect in members' pension records"%}
{% set showMenu ="true"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row summaryPage">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-u-reading-width">

      {{ overviewIntro | safe }}
      {{ overviewSummaryNew | safe }}
      {{ overviewCanDo | safe }}
      {{ overviewCannotDo | safe }}

    </div>
  </div>
</div>
{% endblock %}