// Import NHS.UK frontend library
@import "nhsuk-frontend/dist/nhsuk";
@import "cookies/_cookie-banner";
@import "cookies/_success-banner";

// Add your custom CSS/Sass styles below.

@import "concepts/_beta-banner";
@import "concepts/_member-header";
@import "concepts/_sortable";
@import "concepts/_compare";
@import "concepts/_pagination";
@import "concepts/_back-to-top";
@import "concepts/_filter";
@import "concepts/_sd-report";
@import "concepts/_data-sets";

// Summary page
.summaryPage{
    .nhsuk-table__cell:first-of-type {
        padding-left: 0;
    }
}
.summaryCardCentre{
    text-align: center;
}
.activeCorruption{
    color: $nhsuk-success-colour;
}

// Error updates

.nhsuk-detailsError{
    .nhsuk-detailsError__summary{
        padding-left:1.5rem;
        cursor: pointer;
        position: relative;
        list-style: none;
        color:$nhsuk-error-colour;
        font-weight: bold;
        text-decoration: underline;
        &:hover{
            text-decoration: none;
        }
        &:focus {
            outline: 4px solid transparent;
            background-color: #ffeb3b;
            box-shadow: 0 -2px #ffeb3b, 0 4px #212b32;
            text-decoration: none;
            color:$nhsuk-text-colour ;
        }
        &:before {
            border-color: transparent;
            border-left-color: inherit;
            border-style: solid;
            border-width: .4375rem 0 .4375rem .75775rem;
            bottom: 0;
            -webkit-clip-path: polygon(0 0,100% 50%,0 100%);
            clip-path: polygon(0 0,100% 50%,0 100%);
            content: "";
            display: block;
            height: 0;
            left: 0;
            margin: auto;
            position: absolute;
            top: 0;
            width: 0;
        }
    }
    .nhsuk-detailsError__text{
        border-left: 4px solid #d8dde0;
        margin-top: 8px;
        padding: 16px 0 16px 20px;
        color:$nhsuk-error-colour;
        a{
            color:$nhsuk-error-colour;
            font-weight: bold; 
        }
    }
}
.nhsuk-detailsError[open]>.nhsuk-detailsError__summary:before {
    border-color: transparent;
    border-style: solid;
    border-top-color: inherit;
    border-width: .75775rem .4375rem 0;
    -webkit-clip-path: polygon(0 0,50% 100%,100% 0);
    clip-path: polygon(0 0,50% 100%,100% 0);
    display: block;
    height: 0;
    width: 0;
}

.nhsuk-list--column{
    column-count: 2;
    @media (max-width: 600px) {
        column-count: 1;
    }
}


////////////////////////
// Test version CSS
///////////////////////

.highlighted-mismatch {
    background-color: nhsuk-colour("pale-yellow");
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: nhsuk-colour("warm-yellow");
}

.mismatchCards {
    .nhsuk-card__heading {
        max-width: 72%;
    }

    .nhsuk-table__row:hover {
        background-color: transparent;
    }
}

.tagPlacement {
    position: absolute;
    right: 32px;
    top: 32px;
}

.nhsuk-table-responsive-custom {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    table {
        width: 100%;
        min-width: 800px;
        /* adjust as needed */
        border-collapse: collapse;
    }

    .highlighted {
        background-color: nhsuk-colour("pale-yellow");
    }
}

.nhsuk-table .nhsuk-table__body .nhsuk-table__row.hidden-row {
    display: table-row;
}

.nhsuk-table .nhsuk-table__body .nhsuk-table__row.hidden {
    display: none;
}

.nhsuk-table .hidden-row {
    display: table-row;
}

.nhsuk-table .hidden {
    display: none;
}

.nhsuk-table__row {
    .highlight {
        background-color: nhsuk-colour("pale-yellow");
    }
}

.nhsuk-task-list__item--with-link:hover {
    background: transparent;
}

.table-scroll-hint,
.table-scroll-header {
    display: none;
}

@media (max-width: 600px) {
    .table-scroll-header {
        display: block;
    }

    .table-scroll-hint {
        display: block;
        font-size: 0.9em;
        color: #666;
        margin-bottom: 0.5em;
    }
}
