// Import NHS.UK frontend library
@import "nhsuk-frontend/dist/nhsuk";
@import "cookies/_cookie-banner";
@import "cookies/_success-banner";

// Add your custom CSS/Sass styles below.

.highlighted-mismatch {
    background-color: nhsuk-colour("pale-yellow");
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: nhsuk-colour("warm-yellow");
}

.mismatchCards {
    .nhsuk-card__heading {
        max-width: 72%;
    }

    .nhsuk-table__row:hover {
        background-color: transparent;
    }
}

.tagPlacement {
    position: absolute;
    right: 32px;
    top: 32px;
}

.nhsuk-table-responsive-custom {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    table {
        width: 100%;
        min-width: 800px;
        /* adjust as needed */
        border-collapse: collapse;
    }

    .highlighted {
        background-color: nhsuk-colour("pale-yellow");
    }
}

.nhsuk-table .nhsuk-table__body .nhsuk-table__row.hidden-row {
    display: table-row;
}

.nhsuk-table .nhsuk-table__body .nhsuk-table__row.hidden {
    display: none;
}

.nhsuk-table .hidden-row {
    display: table-row;
}

.nhsuk-table .hidden {
    display: none;
}

.nhsuk-table__row {
    .highlight {
        background-color: nhsuk-colour("pale-yellow");
    }
}

.nhsuk-task-list__item--with-link:hover {
    background: transparent;
}

.table-scroll-hint,
.table-scroll-header {
    display: none;
}

@media (max-width: 600px) {
    .table-scroll-header {
        display: block;
    }

    .table-scroll-hint {
        display: block;
        font-size: 0.9em;
        color: #666;
        margin-bottom: 0.5em;
    }
}

// Complex 2
.nhsuk-expander {
    .nhsuk-tag {
        float: right;
    }
}

.errorHighlight {
    border-left: 4px solid $nhsuk-error-colour;
    font-weight: bold;

    // .nhsuk-table__cell:first-of-type {
    //     padding-left: 16px;
    // }

    .errorTxt {
        color: $nhsuk-error-colour;
        // text-decoration: underline;
    }
}

// Tables

.nhsuk-table {
    min-width: 425px;

    .nhsuk-table__cell:first-of-type {
        padding-left: 16px;
    }
}

// Sortable table

.sortable {
    cursor: pointer;
    color: $nhsuk-link-colour;
}

.sort-icon {
    display: none;
    /* hide all icons by default */
    margin-left: 0.25rem;
    vertical-align: middle;

    svg {
        width: 1rem;
        height: 1rem;
        fill: currentColor;
    }
}

/* Show double arrow by default when column is unsorted */
.sortable[aria-sort="none"] .sort-icon--default {
    display: inline-block;
}

/* Show ascending arrow */
.sortable[aria-sort="ascending"] .sort-icon--asc {
    display: inline-block;
}

/* Show descending arrow */
.sortable[aria-sort="descending"] .sort-icon--desc {
    display: inline-block;
}

.sortableAlign {
    .sortable {
        cursor: pointer;
        color: $nhsuk-link-colour;
        position: absolute;
    }
}

// Filter

.buttonBlock {
    display: block;
}

#filters-panel,
#compare-panel {
    border-top: 1px solid $nhsuk-border-colour;
    padding: 30px 30px 0 30px;
    background-color: nhsuk-colour("white");
    margin-bottom: 36px;
    border-bottom: 1px solid $nhsuk-border-colour;
}

.nhsuk-checkboxes-filter {
    column-count: 3;
}

// Compare
#compare-panel.details {
    border-top: none;
    padding-top: 30px;
    background-color: transparent;
    margin-bottom: 36px;
    border-bottom: none;
}

.compareRow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .compareCol {
        width: 100%;
        background-color: nhsuk-colour("white");
        padding: 20px;
    }

    @media (min-width: 600px) {
        flex-direction: row;

        .compareCol {
            width: 49%;
        }
    }
}

.tableScrollOuter {
    overflow-x: auto;
}

// Scrollable Pane

.nhsuk-scrollable-pane {
    background: linear-gradient(90deg, #fff, #fff, #fff0 1.5em), radial-gradient(farthest-side at 0 50%, #0003, #fff0), linear-gradient(270deg, #fff, #fff, #fff0 1.5em), radial-gradient(farthest-side at 100% 50%, #0003, #fff0) 100%;
    background-attachment: local, scroll, local, scroll;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100% 100%, .75em 100%, 100% 100%, .75em 100%;
    overflow-x: scroll;
}

.nhsuk-details__text {
    .nhsuk-hint {
        display: none;
    }

    @media (max-width: 600px) {
        .nhsuk-hint {
            display: block;
        }
    }

}

// Iteration 1
.button--error {
    width: calc(100% + 16px);
    height: 100%;
    padding: 16px;
    margin: -16px;
    background: nhsuk-colour("white");
    border: none;
    font-weight: bold;
    color: nhsuk-colour("red");
    display: block;

    &:hover {
        background-color: nhsuk-colour("grey-5");
    }

    &:focus {
        background-color: nhsuk-colour("yellow");
        outline: 4px solid transparent;
        color: nhsuk-colour("black");
        border-bottom: 4px solid nhsuk-colour("black");
    }
}



// Beta Banner

.beta-banner {
    padding: 16px 0;
    background-color: #ffffff;
    border-bottom: 1px solid #dcdcdc;
}

.nhsuk-phase-banner {
    padding-top: nhsuk-spacing(2);
    padding-bottom: nhsuk-spacing(2);
    border-bottom: 1px solid $nhsuk-border-colour;
}

.nhsuk-phase-banner__content {
    @include nhsuk-font(16);
    color: $nhsuk-text-colour;
    display: table;
    margin: 0;
}

.nhsuk-phase-banner__content__tag {
    margin-right: 10px;
}

.nhsuk-phase-banner__text {
    display: table-cell;
    vertical-align: middle;
}