// Import NHS.UK frontend library
@import "nhsuk-frontend/dist/nhsuk";

// Add your custom CSS/Sass styles below.

.nhsuk-table-responsive-custom {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    table {
        width: 100%;
        min-width: 800px; /* adjust as needed */
        border-collapse: collapse;
    }
    .highlighted{
        background-color:nhsuk-colour("pale-yellow") ;
    }
  }
  
  .table-scroll-hint {
    display: none;
  }
  @media (max-width: 600px) {
    .table-scroll-hint {
      display: block;
      font-size: 0.9em;
      color: #666;
      margin-bottom: 0.5em;
    }
  }
  
