// Import NHS.UK frontend library
@import "nhsuk-frontend/dist/nhsuk";
@import "cookies/_cookie-banner";
@import "cookies/_success-banner";

// Add your custom CSS/Sass styles below.

.highlighted-mismatch {
    background-color: nhsuk-colour("pale-yellow");
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: nhsuk-colour("warm-yellow");
}

.mismatchCards {
    .nhsuk-card__heading {
        max-width: 72%;
    }

    .nhsuk-table__row:hover {
        background-color: transparent;
    }
}

.tagPlacement {
    position: absolute;
    right: 32px;
    top: 32px;
}

.nhsuk-table-responsive-custom {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    table {
        width: 100%;
        min-width: 800px;
        /* adjust as needed */
        border-collapse: collapse;
    }

    .highlighted {
        background-color: nhsuk-colour("pale-yellow");
    }
}

.nhsuk-table-responsive .nhsuk-table__body .nhsuk-table__row.hidden-row {
    display: table-row;
}

.nhsuk-table-responsive .nhsuk-table__body .nhsuk-table__row.hidden {
    display: none;
}

.nhsuk-table__row {
    .highlight {
        background-color: nhsuk-colour("pale-yellow");
    }
}

.nhsuk-task-list__item--with-link:hover {
    background: transparent;
}

.table-scroll-hint,
.table-scroll-header {
    display: none;
}

@media (max-width: 600px) {
    .table-scroll-header {
        display: block;
    }

    .table-scroll-hint {
        display: block;
        font-size: 0.9em;
        color: #666;
        margin-bottom: 0.5em;
    }
}

// Complex 2
.nhsuk-expander{
    .nhsuk-tag{
        float: right;
    }
}
.errorHighlight{
    border-left:4px solid $nhsuk-error-colour;
    font-weight: bold;
    .nhsuk-table__cell:first-of-type{
        padding-left:16px;
    }
    .errorTxt{
        color: $nhsuk-error-colour;
        text-decoration: underline;
    }
}

// Beta Banner

.beta-banner {
    padding: 16px 0;
    background-color: #ffffff;
    border-bottom: 1px solid #dcdcdc;
}
.nhsuk-phase-banner {
    padding-top: nhsuk-spacing(2);
    padding-bottom: nhsuk-spacing(2);
    border-bottom: 1px solid $nhsuk-border-colour;
}
.nhsuk-phase-banner__content {
@include nhsuk-font(16);
color: $nhsuk-text-colour;
display: table;
margin: 0;
}
.nhsuk-phase-banner__content__tag {
margin-right: 10px ;
}
.nhsuk-phase-banner__text {
display: table-cell;
vertical-align: middle;
}

