{% extends 'layout.html' %}
{% set pageTitle = "Service desk report for John Smith"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <span class="nhsuk-caption-l">Generate report</span>
        <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-3">{{pageTitle}}</h1>

        <form action="/{{folder}}/report" method="post" novalidate>
            <h3>Requester details</h3>
            {{ input({
            label: {
            text: "Requester name"
            },
            id: "requesterName",
            name: "requesterName",
            classes: "nhsuk-input--width-20",
            value: "Jane Doe"
            }) }}
            <hr>

            <h3>Incident form</h3>
            {{ input({
            id: "subject",
            name: "subject",
            label: {
            text: "Subject"
            }
            }) }}
            {{ input({
            label: {
            text: "Member number"
            },
            id: "membershipNumber",
            name: "membershipNumber",
            classes: "nhsuk-input--width-10",
            value: "12345678"
            }) }}
            {{ input({
            label: {
            text: "Member first initial"
            },
            id: "memberFirstInitial",
            name: "memberFirstInitial",
            classes: "nhsuk-input--width-2",
            value: "J"
            }) }}
            {{ input({
            label: {
            text: "Member surname"
            },
            id: "memberSurname",
            name: "memberSurname",
            classes: "nhsuk-input--width-20",
            value: "Smith"
            }) }}
            {{ select({
            label: {
            text: "Type of record change"
            },
            id: "recordTypeChange",
            name: "recordTypeChange",
            value: "type",
            items: [
            {
            value: "type",
            text: "-- Type of record change --"
            },
            {
            value: "cancelAward",
            text: "Cancel award"
            },
            {
            value: "schemeChange",
            text: "Scheme change"
            },
            {
            value: "statueChange",
            text: "Status change"
            },
            {
            value: "serviceGroupChange",
            text: "Service group change"
            },
            {
            value: "deleteForm",
            text: "Deletion of form"
            },
            {
            value: "addConts",
            text: "Add conts"
            },
            {
            value: "addBasic",
            text: "Add basica"
            },
            {
            value: "additionalPension",
            text: "Additional pension"
            },
            {
            value: "other",
            text: "Other"
            }
            ]
            }) }}
            {{ select({
            label: {
            text: "Has a file been corrupted?"
            },
            id: "corrupted",
            name: "corrupted",
            value: "no",
            items: [
            {
            value: "no",
            text: "No"
            },
            {
            value: "yes",
            text: "Yes"
            }
            ]
            }) }}
            {{ select({
            label: {
            text: "Has a payment been affected?"
            },
            id: "payment",
            name: "payment",
            value: "no",
            items: [
            {
            value: "no",
            text: "No"
            },
            {
            value: "yes",
            text: "Yes"
            }
            ]
            }) }}

            <hr>

            <h3>Description</h3>
            <div class="nhsuk-hint">
                Corruptions have been added from the Identify record issues tool, you can remove any that aren't
                required in your Service desk ticket or add any additional information they may need
            </div>
            <table class="nhsuk-table" id="reportTable">
                <caption class="nhsuk-table__caption">
                    Corruption details
                </caption>
                <thead class="nhsuk-table__head">
                    <tr class="nhsuk-table__row">
                        <th scope="col" class="nhsuk-table__header nhsuk-u-font-size-14">
                            Sets
                        </th>
                        <th scope="col" class="nhsuk-table__header nhsuk-u-font-size-14">
                            Fields
                        </th>
                        <th scope="col" class="nhsuk-table__header nhsuk-u-font-size-14">
                            Amendments to be made
                        </th>
                        <th scope="col" class="nhsuk-table__header nhsuk-u-font-size-14">
                            Remove
                        </th>
                    </tr>
                </thead>
                <tbody class="nhsuk-table__body">
                    <tr class="nhsuk-table__row">
                        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
                            Service history
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
                            Start date
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
                            Employment ID 3 and employment ID 5 cannot start on the same day
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
                            <a href="#"
                            class="nhsuk-link delete-link"
                            data-item="Employment ID 3 and employment ID 5 cannot start on the same day">
                            Remove <span class="nhsuk-u-visually-hidden">Employment ID 3 and employment ID 5 cannot start on the same day</span>
                            </a>
                        </td>
                    </tr>
                    <tr class="nhsuk-table__row">
                        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
                            Service history
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
                            End date
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
                            Employment ID 3 end date missing
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
                            <a href="#"
                            class="nhsuk-link delete-link"
                            data-item="Employment ID 3 end date missing">
                            Remove <span class="nhsuk-u-visually-hidden">Employment ID 3 end date missing</span>
                            </a>
                        </td>
                    </tr>
                    <tr class="nhsuk-table__row">
                        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
                            Service history
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
                            Update date
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
                            Employment ID 3 update date incorrect
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
                            <a href="#"
                            class="nhsuk-link delete-link"
                            data-item="Employment ID 3 update date incorrect">
                            Remove <span class="nhsuk-u-visually-hidden">Employment ID 3 update date incorrect</span>
                            </a>
                        </td>
                    </tr>
                    <tr class="nhsuk-table__row">
                        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
                            Service history
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
                            Start date
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
                            Employment ID 5 start date incorrect
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
                            <a href="#"
                            class="nhsuk-link delete-link"
                            data-item="Employment ID 5 start date incorrect">
                            Remove <span class="nhsuk-u-visually-hidden">Employment ID 5 start date incorrect</span>
                            </a>
                        </td>
                    </tr>
                    <tr class="nhsuk-table__row">
                        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
                            Employment history
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
                            Employment ID
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
                            Employment ID 3 must appear in both service history and employment history
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
                            <a href="#"
                            class="nhsuk-link delete-link"
                            data-item="Employment ID 3 must appear in both service history and employment history">
                            Remove <span class="nhsuk-u-visually-hidden">Employment ID 3 must appear in both service history and employment history</span>
                            </a>
                        </td>
                    </tr>
                    <tr class="nhsuk-table__row">
                        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
                            Employment history
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
                            Employment ID
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
                            Employment ID 5 must appear in both service history and employment history
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
                            <a href="#"
                            class="nhsuk-link delete-link"
                            data-item="Employment ID 5 must appear in both service history and employment history">
                            Remove <span class="nhsuk-u-visually-hidden">Employment ID 5 must appear in both service history and employment history</span>
                            </a>
                        </td>
                    </tr>
                    <tr class="nhsuk-table__row">
                        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
                            Conts &amp; TPP
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
                            Employment ID
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
                            Employment ID 3 must appear in both service history and employment history
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
                            <a href="#"
                            class="nhsuk-link delete-link"
                            data-item="Employment ID 3 must appear in both service history and employment history">
                            Remove <span class="nhsuk-u-visually-hidden">Employment ID 3 must appear in both service history and employment history</span>
                            </a>
                        </td>
                    </tr>
                    <tr class="nhsuk-table__row">
                        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
                            Hours history
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
                            Employment ID
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
                            Employment ID 3 must appear in both service history and employment history
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
                            <a href="#"
                            class="nhsuk-link delete-link"
                            data-item="Employment ID 3 must appear in both service history and employment history">
                            Remove <span class="nhsuk-u-visually-hidden">Employment ID 3 must appear in both service history and employment history</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <button class="nhsuk-button nhsuk-button--secondary nhsuk-button--small" type="button" onclick="addRow()">
                Add new row
            </button>

            <hr>

            {{ button({
            text: "Confirm and send"
            }) }}
        </form>

        <form method="post">

            <table class="nhsuk-table" id="myTable">
              <thead>
                <tr>
                  <th class="nhsuk-table__header">Name</th>
                  <th class="nhsuk-table__header">Age</th>
                  <th class="nhsuk-table__header">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">
                    <input class="nhsuk-input nhsuk-input--width-10"
                           type="text"
                           name="people[0][name]">
                  </td>
                  <td class="nhsuk-table__cell">
                    <input class="nhsuk-input nhsuk-input--width-5"
                           type="number"
                           name="people[0][age]">
                  </td>
                  <td class="nhsuk-table__cell">
                    <a href="#"
                       class="nhsuk-link delete-link">
                      Remove
                      <span class="nhsuk-u-visually-hidden">this person</span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            
            <button type="button"
                    class="nhsuk-button nhsuk-button--secondary"
                    onclick="addRow()">
              Add another person
            </button>
            
            <button class="nhsuk-button" type="submit">
              Continue
            </button>
            
            </form>


            <form method="post">

                <table class="nhsuk-table">
                  <thead>
                    <tr>
                      <th class="nhsuk-table__header">Name</th>
                      <th class="nhsuk-table__header">Age</th>
                      <th class="nhsuk-table__header">Action</th>
                    </tr>
                  </thead>
                
                  <tbody>
                
                  {% for person in data.people %}
                    <tr class="nhsuk-table__row">
                
                      <td class="nhsuk-table__cell">
                        {{ person.name }}
                      </td>
                
                      <td class="nhsuk-table__cell">
                        {{ person.age }}
                      </td>
                
                      <td class="nhsuk-table__cell">
                
                        {% if confirmRemove == loop.index0 %}
                
                          <div class="nhsuk-warning-callout">
                            <h3 class="nhsuk-warning-callout__label">
                              Confirm removal
                            </h3>
                
                            <p>
                              Are you sure you want to remove {{ person.name }}?
                            </p>
                
                            <button
                              formaction="/people/remove-confirmed"
                              name="index"
                              value="{{ loop.index0 }}"
                              class="nhsuk-button nhsuk-button--warning"
                              type="submit">
                              Yes, remove
                            </button>
                
                            <button
                              formaction="/people"
                              class="nhsuk-button nhsuk-button--secondary"
                              type="submit">
                              Cancel
                            </button>
                          </div>
                
                        {% else %}
                
                          <button
                            formaction="/people/remove"
                            name="index"
                            value="{{ loop.index0 }}"
                            class="nhsuk-link"
                            type="submit">
                            Remove
                            <span class="nhsuk-u-visually-hidden">
                              {{ person.name }}
                            </span>
                          </button>
                
                        {% endif %}
                
                      </td>
                
                    </tr>
                  {% endfor %}
                
                  </tbody>
                </table>
                
                </form>
                
            

    </div>
</div>

<script>
    function addRow() {
        const tbody = document.querySelector("#reportTable tbody");
        const row = tbody.insertRow();

        row.className = "nhsuk-table__row";

        row.innerHTML = `
        <td class="nhsuk-table__cell nhsuk-u-font-size-14" contenteditable="true"></td>
        <td class="nhsuk-table__cell nhsuk-u-font-size-14" contenteditable="true"></td>
        <td class="nhsuk-table__cell nhsuk-u-font-size-14" contenteditable="true"></td>
        <td class="nhsuk-table__cell nhsuk-u-font-size-14">
            <a href="#"
                class="nhsuk-link delete-link">
                Remove <span class="nhsuk-u-visually-hidden">this row</span>
            </a>
            </td>
        `;
        }

    document.addEventListener("click", function (e) {
        if (e.target.closest(".delete-link")) {
            e.preventDefault();
            const row = e.target.closest("tr");
            row.remove();
        }
    });
</script>

<script>
    let rowIndex = 1;
  
    function addRow() {
      const tbody = document.querySelector("#myTable tbody");
      const row = document.createElement("tr");
      row.className = "nhsuk-table__row";
  
      row.innerHTML = `
        <td class="nhsuk-table__cell">
          <input class="nhsuk-input nhsuk-input--width-10"
                 type="text"
                 name="people[${rowIndex}][name]">
        </td>
        <td class="nhsuk-table__cell">
          <input class="nhsuk-input nhsuk-input--width-5"
                 type="number"
                 name="people[${rowIndex}][age]">
        </td>
        <td class="nhsuk-table__cell">
          <a href="#"
             class="nhsuk-link delete-link">
            Remove
            <span class="nhsuk-u-visually-hidden">this person</span>
          </a>
        </td>
      `;
  
      tbody.appendChild(row);
      rowIndex++;
    }
  
    document.addEventListener("click", function (e) {
      const link = e.target.closest(".delete-link");
      if (!link) return;
  
      e.preventDefault();
  
      const row = link.closest("tr");
      const nameInput = row.querySelector("input[type='text']");
      const name = nameInput.value || "this person";
  
      const confirmDelete = confirm(`Are you sure you want to remove ${name}?`);
  
      if (confirmDelete) {
        row.remove();
      }
    });
  </script>
  

{% endblock %}