{% extends 'layout.html' %}
{% set pageTitle = "Service desk report for John Smith"%}
{% set showMenu ="true"%}
{% set sdMenuBlank ="true"%}
{% set ticketMenu="true"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <span class="nhsuk-caption-l">Generate report</span>
        <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-3">{{pageTitle}}</h1>
        <div class="nhsuk-hint">
            This report is being generated to send to service desk, you need to enter all of the correct details in each section of the form.
        </div>

        <form action="/{{folder}}/report-blank" method="post" id="reportForm">
            <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Requester details
                </span>
                </summary>
                <div class="nhsuk-details__text">
                <p>This service desk ticket is being requested by:</p>
                {{ input({
                    label: {
                    text: "Requester name"
                    },
                    id: "requesterName",
                    name: "requesterName",
                    classes: "nhsuk-input--width-20",
                    value: "Jane Doe"
                    }) }}
        
                </div>
            </details>

            <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Incident form
                </span>
                </summary>
                <div class="nhsuk-details__text">
                    {{ input({
                        id: "subject",
                        name: "subject",
                        label: {
                        text: "Subject"
                        }
                    }) }}
                    {{ input({
                        label: {
                        text: "Member number"
                        },
                        id: "membershipNumber",
                        name: "membershipNumber",
                        classes: "nhsuk-input--width-10"
                    }) }}
                    {{ input({
                        label: {
                        text: "Member first initial"
                        },
                        id: "memberFirstInitial",
                        name: "memberFirstInitial",
                        classes: "nhsuk-input--width-2"
                    }) }}
                    {{ input({
                        label: {
                        text: "Member surname"
                        },
                        id: "memberSurname",
                        name: "memberSurname",
                        classes: "nhsuk-input--width-20"
                    }) }}
                    {{ select({
                        label: {
                        text: "Type of record change"
                        },
                        id: "recordTypeChange",
                        name: "recordTypeChange",
                        value: "-- Type of record change --",
                        items: [
                            {
                            value: "-- Type of record change --",
                            text: "-- Type of record change --"
                            },
                            {
                            value: "Cancel award",
                            text: "Cancel award"
                            },
                            {
                            value: "Scheme change",
                            text: "Scheme change"
                            },
                            {
                            value: "Statue change",
                            text: "Status change"
                            },
                            {
                            value: "Service group change",
                            text: "Service group change"
                            },
                            {
                            value: "Deletion of form",
                            text: "Deletion of form"
                            },
                            {
                            value: "Add conts",
                            text: "Add conts"
                            },
                            {
                            value: "Add basic",
                            text: "Add basic"
                            },
                            {
                            value: "Additional pension",
                            text: "Additional pension"
                            },
                            {
                            value: "other",
                            text: "Other"
                            }
                        ]
                    }) }}
                    {{ select({
                        label: {
                        text: "Has a file been corrupted?"
                        },
                        id: "corrupted",
                        name: "corrupted",
                        value: "no",
                        items: [
                            {
                            value: "no",
                            text: "No"
                            },
                            {
                            value: "yes",
                            text: "Yes"
                            }
                        ]
                    }) }}
                    {{ select({
                        label: {
                        text: "Has a payment been affected?"
                        },
                        id: "payment",
                        name: "payment",
                        value: "no",
                        items: [
                            {
                            value: "no",
                            text: "No"
                            },
                            {
                            value: "yes",
                            text: "Yes"
                            }
                        ]
                    }) }}
            
                </div>
            </details>

            <hr>

            <h3>Description</h3>
            <div class="nhsuk-hint">
                Issues can be added below which are required in your service desk request.
            </div>

            <!-- Error summary (hidden by default) -->
            <div id="errorSummary" class="nhsuk-error-summary" role="alert" style="display:none;">
            <h2 class="nhsuk-error-summary__title">There is a problem</h2>
            <div class="nhsuk-error-summary__body">
                <ul class="nhsuk-list nhsuk-error-summary__list" id="errorList"></ul>
            </div>
            </div>

            <table class="nhsuk-table" id="reportTable">
                <caption class="nhsuk-table__caption">
                    Issue details
                </caption>
                <thead class="nhsuk-table__head">
                <tr class="nhsuk-table__row">
                    <th class="nhsuk-table__cell nhsuk-u-font-size-14 reportCell" scope="col">Sets</th>
                    <th class="nhsuk-table__cell nhsuk-u-font-size-14 reportCell" scope="col">Fields</th>
                    <th class="nhsuk-table__cell nhsuk-u-font-size-14" scope="col">Amendments to be made</th>
                    <th class="nhsuk-table__cell nhsuk-u-font-size-14" scope="col">Reason</th>
                    <th class="nhsuk-table__cell nhsuk-u-font-size-14" scope="col">Remove</th>
                </tr>
                </thead>
                <tbody class="nhsuk-table__body">

                <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell"><input class="nhsuk-input nhsuk-input--width-10 nhsuk-u-font-size-14" type="text" name="sets[]" id="setOne" value="" aria-label="Sets: Service history issue 1"></td>
                    <td class="nhsuk-table__cell"><input class="nhsuk-input nhsuk-input--width-10 nhsuk-u-font-size-14" type="text" name="fields[]" id="fieldOne" value="" aria-label="Fields: end date"></td>
                    <td class="nhsuk-table__cell"><input class="nhsuk-input nhsuk-u-font-size-14" type="text" name="amendments[]" id="amendmentsOne" value="" aria-label="Amendments: Employment ID 1 end date mismatch"></td>
                    <td class="nhsuk-table__cell"><input class="nhsuk-input nhsuk-u-font-size-14" type="text" name="reason[]" id="reasonOne" value="" aria-label="Reason:"></td>
                    <td class="nhsuk-table__cell nhsuk-u-font-size-14"><a href="#" class="remove-row nhsuk-link">Remove</a></td>
                </tr>

                </tbody>
            </table>

            <button type="button" id="addRowButton" class="nhsuk-button nhsuk-button--secondary nhsuk-button--small">Add another row</button>
            
            <hr>
            <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Basic information
                </span>
                </summary>
                <div class="nhsuk-details__text">
                    {{ select({
                        label: {
                            text: "Urgency"
                        },
                        id: "urgency",
                        name: "urgency",
                        value: "highPriotiry",
                        items: [
                            {
                            value: "High Priotiry",
                            text: "High Priority"
                            },
                            {
                            value: "Medium Priority",
                            text: "Medium Priority"
                            },
                            {
                            value: "Low Priority",
                            text: "Low Priority"
                            }
                        ]
                    }) }}
                    {{ input({
                        label: {
                        text: "Site"
                        },
                        id: "siteName",
                        name: "siteName",
                        classes: "nhsuk-input--width-20"
                    }) }}
                    {{ input({
                        label: {
                        text: "Directorate"
                        },
                        id: "directorate",
                        name: "directorate",
                        classes: "nhsuk-input--width-20"
                    }) }}
                    {{ textarea({
                        name: "additionalDsc",
                        id: "additionalDsc",
                        rows: "3",
                        label: {
                            text: "Ticket Description"
                        },
                        hint: {
                            text: "Add a brief overview of the ticket information"
                        }
                    }) }}
                </div>
            </details>

            <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

            <button type="submit" class="nhsuk-button">Continue</button>

        </form>

    </div>
</div>

<script src="/assets/javascript/sd-report.js"></script>

{% endblock %}
