.nhsuk-expander {
    .nhsuk-tag {
        float: right;
    }
}
.errorHighlight {
    border-left: 4px solid $nhsuk-error-colour;
    font-weight: bold;

    .errorTxt {
        color: $nhsuk-error-colour;
    }
}

.errorSummaryList {
    border-left: 4px solid $nhsuk-error-colour;
    padding-left: 16px;

    .nhsuk-summary-list__key {
        padding-left: 16px;
        vertical-align: bottom;
    }
}

.nhsuk-table {
    min-width: 425px;

    .nhsuk-table__cell:first-of-type {
        padding-left: 16px;
    }

    tr.selected{
        background-color: $nhsuk-focus-colour;
    }
}

.nhsuk-scrollable-pane {
    background: linear-gradient(90deg, #fff, #fff, #fff0 1.5em), radial-gradient(farthest-side at 0 50%, #0003, #fff0), linear-gradient(270deg, #fff, #fff, #fff0 1.5em), radial-gradient(farthest-side at 100% 50%, #0003, #fff0) 100%;
    background-attachment: local, scroll, local, scroll;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100% 100%, .75em 100%, 100% 100%, .75em 100%;
    overflow-x: scroll;
}

.nhsuk-details__text {
    .nhsuk-hint {
        display: none;
    }

    @media (max-width: 600px) {
        .nhsuk-hint {
            display: block;
        }
    }

}