#reportTable {
    margin-bottom: 30px;

    .nhsuk-table__cell:first-of-type {
        padding-left: 0;
    }

    .reportCell {
        width: 150px;
    }

    .nhsuk-form-group,
    .nhsuk-textarea {
        margin-bottom: 0;
    }

    .nhsuk-form-group--error{
        input{
            border-color: $nhsuk-error-colour;
        }
    }
}

.undoContainerVisible{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
    margin-top: 18px;
    p{
        margin-bottom: 0;
    }
    .buttonUndo{
        margin-left: 20px;
        min-width: 200px;
        text-align: right;
        .nhsuk-button--small{
            margin-bottom: 0;
        }
    }
}

.columnRadios{
    column-count: 3;
    @media (max-width: 600px) {
        column-count: 1;
    }
}

.confirmReport {
    .reportTable {
        .reportCell {
            width: 100px;
        }
    }
}