{% extends 'layout.html' %}
{% set pageTitle = "Do you need help with the Identify record issues tool?"%}
{% set showMenu ="true"%}
{% set supportMenu ="true"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row summaryPage">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-u-reading-width">

      <span class="nhsuk-caption-l">Support information</span>
      <h1 class="nhsuk-heading-l">{{pageTitle}} </h1>
      <p class="nhsuk-body">Content</p>

    </div>

      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          {{ card({
            href: "#",
            primary: "true",
            clickable: "true",
            heading: "Acronyms",
            headingSize: "m",
            description: "Content"
          }) }}
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          {{ card({
            href: "#",
            primary: "true",
            clickable: "true",
            heading: "FAQ's",
            headingSize: "m",
            description: "Content"
          }) }}
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          {{ card({
            href: "#",
            primary: "true",
            clickable: "true",
            heading: "How to videos",
            headingSize: "m",
            description: "Content"
          }) }}
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          {{ card({
            href: "#",
            primary: "true",
            clickable: "true",
            heading: "Training guides",
            headingSize: "m",
            description: "Content"
          }) }}
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          {{ card({
            href: "#",
            primary: "true",
            clickable: "true",
            heading: "Contact",
            headingSize: "m",
            description: "Content"
          }) }}
        </li>
      </ul>
      
  </div>
</div>
{% endblock %}