{% extends 'layout.html' %}
{% set pageTitle = "Which member are you looking for?"%}
{% set hideBack ="true"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{folder}}/search-cards" method="post" novalidate>
        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">{{pageTitle}} </h1>
            </legend>

            <div class="nhsuk-hint" id="contact-hint">
              Enter the members ID number, for example, XX12345
            </div>
            <label class="nhsuk-label" for="my-autocomplete">Member ID</label>
            <input class="nhsuk-input" id="example" name="example" type="text">
          </fieldset>
        </div>
        
        <button type="submit" class="nhsuk-button" data-module="nhsuk-button"> Continue </button>
      </form>

    </div>

  </div>
{% endblock %}