{% extends 'layout.html' %}
{% set mediumLayout = "true" %}
{% set pageTitle = "Training guides"%}
{% set showMenu ="true"%}
{% set supportMenu ="true"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row summaryPage">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-u-reading-width">

      <span class="nhsuk-caption-l">Support information</span>
      <h1 class="nhsuk-heading-l">{{pageTitle}} </h1>
      
      <p class="nhsuk-body">This section contains step-by-step training guides to help you identify and resolve corruptions within pension records using Compendia and the Identify record issues tool. The guides are designed to support consistent, accurate handling of data issues and to help you understand when and how to take corrective action.</p>
      <p class="nhsuk-body">Each guide focuses on common scenarios and provides clear instructions, screenshots and practical tips you can follow during your work.</p>
      <p class="nhsuk-body">All documents in this section are provided as PDFs.</p>
      <p class="nhsuk-body">The documents will open in a new tab.</p>

      {{ table({
        caption: "Handling corruptions in pension records",
        firstCellIsHeader: true,
        responsive: true,
        head: [
          {
            text: "Document",
            classes: "nhsuk-u-width-one-half"
          },
          {
            text: "View",
            classes: "nhsuk-u-width-one-quarter"
          }
        ],
        rows: [
          [
            {
              header: "Document",
              text: "Data Compendia guide for corruptions"
            },
            {
              header: "View",
              html: '<a href="https://nhsbsauk.sharepoint.com/:w:/r/sites/Pensions/Shared%20Documents/Data%20Management/Compendia%20Error%20Data%20Guides/Data%20Compendia%20Error%20Training%20Notes/8309,%208310,%208311,%208312,%208315%20Corruptions%20training%20notes/Data%20Compendia%20Corruptions%20Guide.docx?d=w0119237cec234203b9bf1c9264567529&csf=1&web=1&e=4ecgdH" target="_blank" aria-label="View document - Opens in a new tab">View</a>'
            }
          ]
        ]
      }) }}

    </div>
  </div>
</div>
{% endblock %}