{% extends 'layout.html' %}
{% set pageName = "Clean Up Scheme - Dropped Employments" %}
{% set hideBack ="true"%}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <span class="nhsuk-caption-xl">Clean-up the Scheme</span>
      <h1 class="nhsuk-heading-xl">
        Dropped Employments
      </h1>
      <hr>
      <div class="nhsuk-grid-column-two-thirds">
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">
                  <span class="nhsuk-details__summary-text">
                    MVP
                  </span>
                </div>
                <div class="nhsuk-grid-column-one-third nhsuk-u-text-align-right">
                  <strong class="nhsuk-tag nhsuk-tag--blue">DESIGN</strong>
                </div>
              </div>
            </summary>
            <div class="nhsuk-details__text">
              <h3 class="nhsuk-heading-s">Design</h3>
              <p>The design for the mvp has progressed thought the initial stages of UR and stakeholder meetings and not shows flagged errors/corruptions in a unified view.</p>
              <hr/>
              <h3 class="nhsuk-heading-s">Error pages</h3>
              <ul class="nhsuk-list nhsuk-list--bullet">
                <li><a href="errors/no-permission-to-view-page">403 (Standard)</a></li>
                <li><a href="errors/specific/no-permission-to-view-page">403 (Out of Sequence)</a></li>
                <li><a href="errors/page-not-found">404</a></li>
                <li><a href="errors/problem-with-service">500</a></li>
                <li><a href="errors/service-is-unavailable">503 (Generic)</a></li>
                <li><a href="errors/specific/service-is-unavailable">503 (Specific)</a></li>
              </ul>
              <hr/>
              <h3 class="nhsuk-heading-s">User research</h3>
              <p>The first round of UR has been completed and has influenced various amendments to the MVP; updating the member details and adding additional sections.</p>
              <p>Further UR sessions will be carried out with this updated MVP, previous versions can be found in the test version section.</p>
              
              
              <hr>
              {{ button({
                "text": "View MVP",
                "href": "/mvp/search"
              }) }}
              <br/>
              {{ actionLink({
                "classes": "nhsuk-u-margin-bottom-3",
                "text": "View user journey on Miro",
                "href": "https://miro.com/app/board/uXjVJGRiT-8=/?share_link_id=109589333112"
              }) }}
            </div>
          </details>
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">
                  <span class="nhsuk-details__summary-text">
                    Trial versions - results
                  </span>
                </div>
                <div class="nhsuk-grid-column-one-third nhsuk-u-text-align-right">
                  <strong class="nhsuk-tag nhsuk-tag--red">RETIRED</strong>
                </div>
              </div>
            </summary>
            <div class="nhsuk-details__text">
              <h3 class="nhsuk-heading-s">Design</h3>
              <p>These designs were creating during the testing and planning phase of the MVP and were iterated upon throughout the UR sessions and stake holder meetings.</p>
              {{ summaryList({
                rows: [
                  {
                    key: {
                      text: "MVP Simple"
                    },
                    value: {
                      html: "
                      <p><strong>Used in initial UR sessions.</strong></p>
                      <p>Initially the mvp was going to simply just show the core tables from Compendia in a unified view</p>"
                    },
                    actions: {
                      items: [
                        {
                          href: "/test-versions/results-simple",
                          text: "View",
                          visuallyHiddenText: "simple"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "Combined Table"
                    },
                    value: {
                      html: "
                      <p><strong>Used in initial UR sessions.</strong></p>
                      <p>This view uses a combined table to highlight the mismatches</p>"
                    },
                    actions: {
                      items: [
                        {
                          href: "/test-versions/results-table",
                          text: "View",
                          visuallyHiddenText: "combined table"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "Card design"
                    },
                    value: {
                      html: "
                      <p><strong>Used in initial UR sessions.</strong></p>
                      <p>This view uses the card component to highlight the mismatches</p>"
                    },
                    actions: {
                      items: [
                        {
                          href: "/test-versions/results-cards",
                          text: "View",
                          visuallyHiddenText: "card design"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "Flagged descriptions"
                    },
                    value: {
                      text: "This view uses descriptions of validations to highlight the mismatches"
                    },
                    actions: {
                      items: [
                        {
                          href: "/test-versions/results-flagged",
                          text: "View",
                          visuallyHiddenText: "flagged descriptions"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "Tabbed view"
                    },
                    value: {
                      text: "This is a simple view of the core tables using the tab component rather than the expander."
                    },
                    actions: {
                      items: [
                        {
                          href: "/test-versions/results-tabbed",
                          text: "View",
                          visuallyHiddenText: "tabbed view"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "Complex view"
                    },
                    value: {
                      text: "This view uses a a combination of components to show the errors within the core tables"
                    },
                    actions: {
                      items: [
                        {
                          href: "/test-versions/results-complex",
                          text: "View",
                          visuallyHiddenText: "combined components"
                        }
                      ]
                    }
                  }
                ]
              }) }}
            </div>
          </details>
      </div>

      <div class="nhsuk-grid-column-one-third key-padding-left">
        <h3>Key</h2>
        <table class="nhsuk-table">
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <strong class="nhsuk-tag nhsuk-tag--blue  nhsuk-u-font-size-14">DESIGN</strong>
              </td>
              <td class="nhsuk-table__cell nhsuk-u-font-size-14">All or parts of the version are still being designed</td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-font-size-14">UR</strong>
              </td>
              <td class="nhsuk-table__cell nhsuk-u-font-size-14">All or parts of the version are currently with UR for usability testing</td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <strong class="nhsuk-tag nhsuk-tag--green nhsuk-u-font-size-14">DEV</strong>
              </td>
              <td class="nhsuk-table__cell nhsuk-u-font-size-14">All or parts of the version are currently in development</td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <strong class="nhsuk-tag nhsuk-tag--red  nhsuk-u-font-size-14">RETIRED</strong>
              </td>
              <td class="nhsuk-table__cell nhsuk-u-font-size-14">All or parts of the version have been retired and replaced with new prototypes and Miro boards</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
{% endblock %}
