<!--
  This is the main layout where you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Extends the prototype kit template which in turn extends the NHS.UK frontend template -->
{% extends "prototype-kit-template.njk" %}

{% block head %}
  <!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

<!-- Edit the header -->
<!-- Header code examples can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  {%- from 'cookie-banner/macro.njk' import cookieBanner %}
  {{ cookieBanner({
       policyUrl: "/cookie-information",
       linkText: "read more about our cookies",
       cookieBannerHeading: "Cookies on the NHS website",
       cookieBannerContent: [
        "We've put some small files called cookies on your device to make our site work.", 
        "We'd also like to use analytics cookies. These send information about how our site is used to services called Adobe Analytics, Hotjar and Google Analytics. We use this information to improve our site.",
        "Let us know if this is OK. We'll use a cookie to save your choice. You can <a href=\"/cookie-information\">read more about our cookies</a> before you choose."],
       okButtonText: "I'm OK with analytics cookies",
       notOkButtonText: "Do not use analytics cookies",
       successBannerMessage: "Cookie preferences - {{bannerSuccessHref}}",
       successLinkText: "Click here",
       bannerSuccessHref: "/cookie-information",
       cookieVersion: 1
    }) }}

  {% if not hideLogin %}
  {{ header({
    service: {
      text: serviceName,
      href: "/"
    },
    account: {
      items: [
        {
          text: "Jane Doe",
          icon: true
        },
        {
          text: "Log out",
          href: "#"
        }
      ]
    }
  }) }}
  {% else %}
    {{ header({
      service: {
        text: serviceName,
        href: "/"
      }
    }) }}
  {% endif %}

  <!-- <div class="beta-banner">
    <div class="nhsuk-width-container">
        <p class="nhsuk-phase-banner__content">
            <strong class="nhsuk-tag nhsuk-phase-banner__content__tag">
                Beta
            </strong>
            <span class="nhsuk-phase-banner__text">
                This is a new service - your <a class="nhsuk-link" href="#">feedback</a> will help us to improve it.
            </span>
        </p>
    </div>
  </div> -->
{% endblock %}

{% block beforeContent %}

{% from 'back-link/macro.njk' import backLink %}


{% endblock %}

{% set serviceHistoryTable %}
<div class="nhsuk-hint">You can scroll left and right to see all columns if the table does not fit on your screen</div>
<div class="nhsuk-scrollable-pane" aria-label="Service history" tabindex="0">
  <table class="nhsuk-table" role="table">
    <thead class="nhsuk-table__head" role="rowgroup">
      <tr role="row">
          <th scope="col" class="shEmpID nhsuk-table__header nhsuk-u-font-size-14" role="columnheader">Employment ID</th>
          <th scope="col" class="shScheme nhsuk-table__header nhsuk-u-font-size-14" role="columnheader">Scheme code</th>
          <th scope="col" class="shStart nhsuk-table__header nhsuk-u-font-size-14" role="columnheader">Start date</th>
          <th scope="col" class="shEnd nhsuk-table__header nhsuk-u-font-size-14" role="columnheader">End date</th>
          <th scope="col" class="shUp nhsuk-table__header nhsuk-u-font-size-14" role="columnheader">Updated</th>
          <th scope="col" class="shMem nhsuk-table__header nhsuk-u-font-size-14" role="columnheader">Member status</th>
          <th scope="col" class="shErc nhsuk-table__header nhsuk-u-font-size-14" role="columnheader">End reason code</th>
          <th scope="col" class="shG nhsuk-table__header nhsuk-u-font-size-14" role="columnheader">Group</th>
          </tr>
    </thead>
    <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row" role="row">
        <td class="shEmpID nhsuk-table__cell nhsuk-u-font-size-14" role="cell">1</td>
        <td class="shScheme nhsuk-table__cell nhsuk-u-font-size-14" role="cell">2008</td>
        <td class="shStart nhsuk-table__cell nhsuk-u-font-size-14" role="cell">01/04/2013</td>
        <td class="shEnd nhsuk-table__cell nhsuk-u-font-size-14" role="cell">31/03/2015</td>
        <td class="shUp nhsuk-table__cell nhsuk-u-font-size-14" role="cell">31/03/2015</td>
        <td class="shMem nhsuk-table__cell nhsuk-u-font-size-14" role="cell">Active</td>
        <td class="shErc nhsuk-table__cell nhsuk-u-font-size-14" role="cell">15</td>
        <td class="shG nhsuk-table__cell nhsuk-u-font-size-14" role="cell">1</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
        <td class="shEmpID nhsuk-table__cell nhsuk-u-font-size-14" role="cell">2</td>
        <td class="shScheme nhsuk-table__cell nhsuk-u-font-size-14" role="cell">2015</td>
        <td class="shStart nhsuk-table__cell nhsuk-u-font-size-14" role="cell">01/04/2015</td>
        <td class="shEnd nhsuk-table__cell nhsuk-u-font-size-14" role="cell">&nbsp;</td>
        <td class="shUp nhsuk-table__cell nhsuk-u-font-size-14" role="cell">31/03/2025</td>
        <td class="shMem nhsuk-table__cell nhsuk-u-font-size-14" role="cell">Active</td>
        <td class="shErc nhsuk-table__cell nhsuk-u-font-size-14" role="cell">5</td>
        <td class="shG nhsuk-table__cell nhsuk-u-font-size-14" role="cell">2</td>
        </tr>
        <tr class="nhsuk-table__row errorHighlight" id="shError" role="row">
        <td class="shEmpID nhsuk-table__cell nhsuk-u-font-size-14" role="cell">3</td>
        <td class="shScheme nhsuk-table__cell nhsuk-u-font-size-14" role="cell">2015</td>
        <td class="shStart nhsuk-table__cell nhsuk-u-font-size-14" role="cell"><span class="errorTxt">01/04/2015</span></td>
        <td class="shEnd nhsuk-table__cell nhsuk-u-font-size-14" role="cell"><span class="errorTxt">No data</span></td>
        <td class="shUp nhsuk-table__cell nhsuk-u-font-size-14" role="cell"><span class="errorTxt">31/03/2023</span></td>
        <td class="shMem nhsuk-table__cell nhsuk-u-font-size-14" role="cell">Active</td>
        <td class="shErc nhsuk-table__cell nhsuk-u-font-size-14" role="cell">5</td>
        <td class="shG nhsuk-table__cell nhsuk-u-font-size-14" role="cell">2</td>
        </tr>
        <tr class="nhsuk-table__row errorHighlight" role="row">
        <td class="shEmpID nhsuk-table__cell nhsuk-u-font-size-14" role="cell">5</td>
        <td class="shScheme nhsuk-table__cell nhsuk-u-font-size-14" role="cell">2015</td>
        <td class="shStart nhsuk-table__cell nhsuk-u-font-size-14" role="cell"><span class="errorTxt">01/04/2015</span></td>
        <td class="shEnd nhsuk-table__cell nhsuk-u-font-size-14" role="cell">&nbsp;</td>
        <td class="shUp nhsuk-table__cell nhsuk-u-font-size-14" role="cell">31/03/2023</td>
        <td class="shMem nhsuk-table__cell nhsuk-u-font-size-14" role="cell">Active</td>
        <td class="shErc nhsuk-table__cell nhsuk-u-font-size-14" role="cell">5</td>
        <td class="shG nhsuk-table__cell nhsuk-u-font-size-14" role="cell">2</td>
        </tr>
    </tbody>
  </table>
</div>
{% endset %}
{% set serviceGroupTable %}
<div class="nhsuk-hint">You can scroll left and right to see all columns if the table does not fit on your screen</div>
<div class="nhsuk-scrollable-pane" aria-label="Service group" tabindex="0">
  <table class="nhsuk-table" role="table">
    <thead class="nhsuk-table__head" role="rowgroup">
      <tr role="row">
        <th scope="col" class="sgGrpID nhsuk-table__header nhsuk-u-font-size-14" role="columnheader">Group ID</th>
        <th scope="col" class="sgScheme nhsuk-table__header nhsuk-u-font-size-14" role="columnheader">Scheme code</th>
        <th scope="col" class="sgStart nhsuk-table__header nhsuk-u-font-size-14" role="columnheader">Start date</th>
        <th scope="col" class="sgEnd nhsuk-table__header nhsuk-u-font-size-14" role="columnheader">End date</th>
        <th scope="col" class="sgStatus nhsuk-table__header nhsuk-u-font-size-14" role="columnheader">Status</th>
        <th scope="col" class="sgErc nhsuk-table__header nhsuk-u-font-size-14" role="columnheader">End reason code</th>
    </tr>
    </thead>
    <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row" role="row">
            <td class="sgGrpID nhsuk-table__cell nhsuk-u-font-size-14" role="cell">1</td>
            <td class="sgScheme nhsuk-table__cell nhsuk-u-font-size-14" role="cell">2008</td>
            <td class="sgStart nhsuk-table__cell nhsuk-u-font-size-14" role="cell">01/04/2013</td>
            <td class="sgEnd nhsuk-table__cell nhsuk-u-font-size-14" role="cell">&nbsp;</td>
            <td class="sgStatus nhsuk-table__cell nhsuk-u-font-size-14" role="cell">Active</td>
            <td class="sgErc nhsuk-table__cell nhsuk-u-font-size-14" role="cell">25</td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
            <td class="sgGrpID nhsuk-table__cell nhsuk-u-font-size-14" role="cell">2</td>
            <td class="sgScheme nhsuk-table__cell nhsuk-u-font-size-14" role="cell">2015</td>
            <td class="sgStart nhsuk-table__cell nhsuk-u-font-size-14" role="cell">01/04/2015</td>
            <td class="sgEnd nhsuk-table__cell nhsuk-u-font-size-14" role="cell">&nbsp;</td>
            <td class="sgStatus nhsuk-table__cell nhsuk-u-font-size-14" role="cell">Active</td>
            <td class="sgErc nhsuk-table__cell nhsuk-u-font-size-14" role="cell">&nbsp;</td>
        </tr>
    </tbody>
  </table>
</div>
{% endset %}
{% set employmentHistoryTable %}
<div class="nhsuk-hint">You can scroll left and right to see all columns if the table does not fit on your screen</div>
<div class="nhsuk-scrollable-pane" aria-label="Employment history" tabindex="0">
  <table class="nhsuk-table" role="table">
      <thead class="nhsuk-table__head" role="rowgroup">
        <tr role="row">
          <th scope="col" class="ehEmpID nhsuk-table__header nhsuk-u-font-size-14" role="columnheader">Employment ID</th>
          <th scope="col" class="ehEmpCode nhsuk-table__header nhsuk-u-font-size-14" role="columnheader">Employer code</th>
          <th scope="col" class="ehStart nhsuk-table__header nhsuk-u-font-size-14" role="columnheader">Start date</th>
          <th scope="col" class="ehEnd nhsuk-u-font-size-14" role="columnheader">End date</th>
          <th scope="col" class="ehTime nhsuk-table__header nhsuk-u-font-size-14" role="columnheader">Whole/part time</th>
          <th scope="col" class="ehCapCode nhsuk-table__header nhsuk-u-font-size-14" role="columnheader">Capacity code</th>
          <th scope="col" class="ehEmpType nhsuk-table__header nhsuk-u-font-size-14" role="columnheader">Employment type</th>
          <th scope="col" class="ehActHrs nhsuk-table__header nhsuk-u-font-size-14" role="columnheader">Actual hours</th>
          <th scope="col" class="ehStdHrs nhsuk-table__header nhsuk-u-font-size-14" role="columnheader">Standard hours</th>
      </tr>
      </thead>
      <tbody class="nhsuk-table__body">
          <tr class="nhsuk-table__row" role="row">
              <td class="ehEmpID nhsuk-table__cell nhsuk-u-font-size-14" role="cell">1</td>
              <td class="ehEmpCode nhsuk-table__cell nhsuk-u-font-size-14" role="cell">5266</td>
              <td class="ehStart nhsuk-table__cell nhsuk-u-font-size-14" role="cell">01/04/2013</td>
              <td class="ehEnd nhsuk-table__cell nhsuk-u-font-size-14" role="cell">09/11/2014</td>
              <td class="ehTime nhsuk-table__cell nhsuk-u-font-size-14" role="cell">Whole time</td>
              <td class="ehCapCode nhsuk-table__cell nhsuk-u-font-size-14" role="cell">1</td>
              <td class="ehEmpType nhsuk-table__cell nhsuk-u-font-size-14" role="cell">8</td>
              <td class="ehActHrs nhsuk-table__cell nhsuk-u-font-size-14" role="cell">&nbsp;</td>
              <td class="ehStdHrs nhsuk-u-font-size-14" role="cell">&nbsp;</td>
          </tr>
          <tr class="nhsuk-table__row" role="row">
              <td class="ehEmpID nhsuk-table__cell nhsuk-u-font-size-14" role="cell">1</td>
              <td class="ehEmpCode nhsuk-table__cell nhsuk-u-font-size-14" role="cell">5266</td>
              <td class="ehStart nhsuk-table__cell nhsuk-u-font-size-14" role="cell">10/11/2014</td>
              <td class="ehEnd nhsuk-table__cell nhsuk-u-font-size-14" role="cell">31/03/2015</td>
              <td class="ehTime nhsuk-table__cell nhsuk-u-font-size-14" role="cell">Part time</td>
              <td class="ehCapCode nhsuk-table__cell nhsuk-u-font-size-14" role="cell">1</td>
              <td class="ehEmpType nhsuk-table__cell nhsuk-u-font-size-14" role="cell">8</td>
              <td class="ehActHrs nhsuk-table__cell nhsuk-u-font-size-14" role="cell">30</td>
              <td class="ehStdHrs nhsuk-u-font-size-14" role="cell">37.5</td>
          </tr>
          <tr class="nhsuk-table__row" role="row">
              <td class="ehEmpID nhsuk-table__cell nhsuk-u-font-size-14" role="cell">2</td>
              <td class="ehEmpCode nhsuk-table__cell nhsuk-u-font-size-14" role="cell">5266</td>
              <td class="ehStart nhsuk-table__cell nhsuk-u-font-size-14" role="cell">01/04/2015</td>
              <td class="ehEnd nhsuk-table__cell nhsuk-u-font-size-14" role="cell"></td>
              <td class="ehTime nhsuk-table__cell nhsuk-u-font-size-14" role="cell">Part time</td>
              <td class="ehCapCode nhsuk-table__cell nhsuk-u-font-size-14" role="cell">1</td>
              <td class="ehEmpType nhsuk-table__cell nhsuk-u-font-size-14" role="cell">8</td>
              <td class="ehActHrs nhsuk-table__cell nhsuk-u-font-size-14" role="cell">30</td>
              <td class="ehStdHrs nhsuk-u-font-size-14" role="cell">37.5</td>
          </tr>
          <tr class="nhsuk-table__row errorHighlight" id="ehError" role="row">
              <td class="ehEmpID nhsuk-table__cell nhsuk-u-font-size-14" role="cell"><span class="errorTxt">No data</span></td>
              <td class="ehEmpCode nhsuk-table__cell nhsuk-u-font-size-14" role="cell"><span class="errorTxt">No data</span></td>
              <td class="ehStart nhsuk-table__cell nhsuk-u-font-size-14" role="cell"><span class="errorTxt">No data</span></td>
              <td class="ehEnd nhsuk-table__cell nhsuk-u-font-size-14" role="cell"><span class="errorTxt">No data</span></td>
              <td class="ehTime nhsuk-table__cell nhsuk-u-font-size-14" role="cell"><span class="errorTxt">No data</span></td>
              <td class="ehCapCode nhsuk-table__cell nhsuk-u-font-size-14" role="cell"><span class="errorTxt">No data</span></td>
              <td class="ehEmpType nhsuk-table__cell nhsuk-u-font-size-14" role="cell"><span class="errorTxt">No data</span></td>
              <td class="ehActHrs nhsuk-table__cell nhsuk-u-font-size-14" role="cell"><span class="errorTxt">No data</span></td>
              <td class="ehStdHrs nhsuk-u-font-size-14" role="cell"><span class="errorTxt">No data</span></td>
          </tr>
          <tr class="nhsuk-table__row errorHighlight" role="row">
              <td class="ehEmpID nhsuk-table__cell nhsuk-u-font-size-14" role="cell"><span class="errorTxt">No data</span></td>
              <td class="ehEmpCode nhsuk-table__cell nhsuk-u-font-size-14" role="cell"><span class="errorTxt">No data</span></td>
              <td class="ehStart nhsuk-table__cell nhsuk-u-font-size-14" role="cell"><span class="errorTxt">No data</span></td>
              <td class="ehEnd nhsuk-u-font-size-14" role="cell"><span class="errorTxt">No data</span></td>
              <td class="ehTime nhsuk-table__cell nhsuk-u-font-size-14" role="cell"><span class="errorTxt">No data</span></td>
              <td class="ehCapCode nhsuk-u-font-size-14" role="cell"><span class="errorTxt">No data</span></td>
              <td class="ehEmpType nhsuk-table__cell nhsuk-u-font-size-14" role="cell"><span class="errorTxt">No data</span></td>
              <td class="ehActHrs nhsuk-table__cell nhsuk-u-font-size-14" role="cell"><span class="errorTxt">No data</span></td>
              <td class="ehStdHrs nhsuk-u-font-size-14" role="cell"><span class="errorTxt">No data</span></td>
          </tr>
      </tbody>
  </table>
</div>
{% endset %}
{% set contsTppTable %}
<div class="nhsuk-hint">You can scroll left and right to see all columns if the table does not fit on your screen</div>
<div class="nhsuk-scrollable-pane" aria-label="Conts and TPP" tabindex="0">
  <table class="nhsuk-table" role="table">
    <thead class="nhsuk-table__head" role="rowgroup">
      <tr role="row">
        <th scope="col" class="ctEmpId nhsuk-table__header nhsuk-u-font-size-14" role="columnheader">Employment ID</th>
        <th scope="col" class="ctStart nhsuk-table__header nhsuk-u-font-size-14" role="columnheader">Period start</th>
        <th scope="col" class="ctEnd nhsuk-table__header nhsuk-u-font-size-14" role="columnheader">Period end</th>
        <th scope="col" class="ctEmpConts nhsuk-table__header nhsuk-u-font-size-14" role="columnheader">Employee conts</th>
        <th scope="col" class="ctTpp nhsuk-table__header nhsuk-u-font-size-14" role="columnheader">TPP</th>
        <th scope="col" class="ctEmployerConts nhsuk-table__header nhsuk-u-font-size-14" role="columnheader">Employer conts</th>
        <th scope="col" class="ctEmpPay nhsuk-table__header nhsuk-u-font-size-14" role="columnheader">Employer pay</th>
    </tr>
    </thead> 
    <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="ctEmpId nhsuk-table__cell nhsuk-u-font-size-14" role="cell">1</td>
        <td class="ctStart nhsuk-table__cell nhsuk-u-font-size-14" role="cell">01/04/2013</td>
        <td class="ctEnd nhsuk-table__cell nhsuk-u-font-size-14" role="cell">31/03/2014</td>
        <td class="ctEmpConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£2758.45</td>
        <td class="ctTpp nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£30649.19</td>
        <td class="ctEmployerConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£4290.88</td>
        <td class="ctEmpPay nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£30649.19</td>
        </tr>
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="ctEmpId nhsuk-table__cell nhsuk-u-font-size-14" role="cell">1</td>
        <td class="ctStart nhsuk-table__cell nhsuk-u-font-size-14" role="cell">01/04/2014</td>
        <td class="ctEnd nhsuk-table__cell nhsuk-u-font-size-14" role="cell">31/03/2015</td>
        <td class="ctEmpConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£2543.26</td>
        <td class="ctTpp nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£27346.81</td>
        <td class="ctEmployerConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£3828.55</td>
        <td class="ctEmpPay nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£27346.81</td>
        </tr>
    
        <!-- Employee 2 -->
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="ctEmpId nhsuk-table__cell nhsuk-u-font-size-14" role="cell">2</td>
        <td class="ctStart nhsuk-table__cell nhsuk-u-font-size-14" role="cell">01/04/2015</td>
        <td class="ctEnd nhsuk-table__cell nhsuk-u-font-size-14" role="cell">31/03/2016</td>
        <td class="ctEmpConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£2561.40</td>
        <td class="ctTpp nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£27541.88</td>
        <td class="ctEmployerConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£3938.50</td>
        <td class="ctEmpPay nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£27541.88</td>
        </tr>
    
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="ctEmpId nhsuk-table__cell nhsuk-u-font-size-14" role="cell">2</td>
        <td class="ctStart nhsuk-table__cell nhsuk-u-font-size-14" role="cell">01/04/2016</td>
        <td class="ctEnd nhsuk-table__cell nhsuk-u-font-size-14" role="cell">31/03/2017</td>
        <td class="ctEmpConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£2606.68</td>
        <td class="ctTpp nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£28028.77</td>
        <td class="ctEmployerConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£4008.11</td>
        <td class="ctEmpPay nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£28028.77</td>
        </tr>
    
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="ctEmpId nhsuk-table__cell nhsuk-u-font-size-14" role="cell">2</td>
        <td class="ctStart nhsuk-table__cell nhsuk-u-font-size-14" role="cell">01/04/2017</td>
        <td class="ctEnd nhsuk-table__cell nhsuk-u-font-size-14" role="cell">31/03/2018</td>
        <td class="ctEmpConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£2676.32</td>
        <td class="ctTpp nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£28777.58</td>
        <td class="ctEmployerConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£4138.22</td>
        <td class="ctEmpPay nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£28777.58</td>
        </tr>
    
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="ctEmpId nhsuk-table__cell nhsuk-u-font-size-14" role="cell">2</td>
        <td class="ctStart nhsuk-table__cell nhsuk-u-font-size-14" role="cell">01/04/2018</td>
        <td class="ctEnd nhsuk-table__cell nhsuk-u-font-size-14" role="cell">31/03/2019</td>
        <td class="ctEmpConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£2796.78</td>
        <td class="ctTpp nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£30072.69</td>
        <td class="ctEmployerConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£4324.45</td>
        <td class="ctEmpPay nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£30072.69</td>
        </tr>
    
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="ctEmpId nhsuk-table__cell nhsuk-u-font-size-14" role="cell">2</td>
        <td class="ctStart nhsuk-table__cell nhsuk-u-font-size-14" role="cell">01/04/2019</td>
        <td class="ctEnd nhsuk-table__cell nhsuk-u-font-size-14" role="cell">31/03/2020</td>
        <td class="ctEmpConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£3013.71</td>
        <td class="ctTpp nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£32405.39</td>
        <td class="ctEmployerConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£4659.89</td>
        <td class="ctEmpPay nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£32405.39</td>
        </tr>
    
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="ctEmpId nhsuk-table__cell nhsuk-u-font-size-14" role="cell">2</td>
        <td class="ctStart nhsuk-table__cell nhsuk-u-font-size-14" role="cell">01/04/2020</td>
        <td class="ctEnd nhsuk-table__cell nhsuk-u-font-size-14" role="cell">31/03/2021</td>
        <td class="ctEmpConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£2781.95</td>
        <td class="ctTpp nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£29913.84</td>
        <td class="ctEmployerConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£4301.60</td>
        <td class="ctEmpPay nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£29913.84</td>
        </tr>
    
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="ctEmpId nhsuk-table__cell nhsuk-u-font-size-14" role="cell">2</td>
        <td class="ctStart nhsuk-table__cell nhsuk-u-font-size-14" role="cell">01/04/2021</td>
        <td class="ctEnd nhsuk-table__cell nhsuk-u-font-size-14" role="cell">31/03/2022</td>
        <td class="ctEmpConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£3067.51</td>
        <td class="ctTpp nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£32984.12</td>
        <td class="ctEmployerConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£4743.11</td>
        <td class="ctEmpPay nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£32984.12</td>
        </tr>
    
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="ctEmpId nhsuk-table__cell nhsuk-u-font-size-14" role="cell">2</td>
        <td class="ctStart nhsuk-table__cell nhsuk-u-font-size-14" role="cell">01/04/2022</td>
        <td class="ctEnd nhsuk-table__cell nhsuk-u-font-size-14" role="cell">31/03/2023</td>
        <td class="ctEmpConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£3661.75</td>
        <td class="ctTpp nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£38306.89</td>
        <td class="ctEmployerConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£5508.53</td>
        <td class="ctEmpPay nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£38306.89</td>
        </tr>
    
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="ctEmpId nhsuk-table__cell nhsuk-u-font-size-14" role="cell">2</td>
        <td class="ctStart nhsuk-table__cell nhsuk-u-font-size-14" role="cell">01/04/2023</td>
        <td class="ctEnd nhsuk-table__cell nhsuk-u-font-size-14" role="cell">31/03/2024</td>
        <td class="ctEmpConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£4037.04</td>
        <td class="ctTpp nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£41845.03</td>
        <td class="ctEmployerConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£5918.68</td>
        <td class="ctEmpPay nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£41845.03</td>
        </tr>
    
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="ctEmpId nhsuk-table__cell nhsuk-u-font-size-14" role="cell">2</td>
        <td class="ctStart nhsuk-table__cell nhsuk-u-font-size-14" role="cell">01/04/2024</td>
        <td class="ctEnd nhsuk-table__cell nhsuk-u-font-size-14" role="cell">31/03/2025</td>
        <td class="ctEmpConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£4365.41</td>
        <td class="ctTpp nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£44544.90</td>
        <td class="ctEmployerConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£6405.55</td>
        <td class="ctEmpPay nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£44544.90</td>
        </tr>
    
        <!-- Employee 3 -->
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="ctEmpId nhsuk-table__cell nhsuk-u-font-size-14" role="cell">3</td>
        <td class="ctStart nhsuk-table__cell nhsuk-u-font-size-14" role="cell">01/04/2015</td>
        <td class="ctEnd nhsuk-table__cell nhsuk-u-font-size-14" role="cell">31/03/2016</td>
        <td class="ctEmpConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£154.96</td>
        <td class="ctTpp nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£1666.20</td>
        <td class="ctEmployerConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£238.27</td>
        <td class="ctEmpPay nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£1666.20</td>
        </tr>
    
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="ctEmpId nhsuk-table__cell nhsuk-u-font-size-14" role="cell">3</td>
        <td class="ctStart nhsuk-table__cell nhsuk-u-font-size-14" role="cell">01/04/2016</td>
        <td class="ctEnd nhsuk-table__cell nhsuk-u-font-size-14" role="cell">31/03/2017</td>
        <td class="ctEmpConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£209.97</td>
        <td class="ctTpp nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£2257.74</td>
        <td class="ctEmployerConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£322.86</td>
        <td class="ctEmpPay nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£2257.74</td>
        </tr>
    
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="ctEmpId nhsuk-table__cell nhsuk-u-font-size-14" role="cell">3</td>
        <td class="ctStart nhsuk-table__cell nhsuk-u-font-size-14" role="cell">01/04/2017</td>
        <td class="ctEnd nhsuk-table__cell nhsuk-u-font-size-14" role="cell">31/03/2018</td>
        <td class="ctEmpConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£76.76</td>
        <td class="ctTpp nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£825.31</td>
        <td class="ctEmployerConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£118.68</td>
        <td class="ctEmpPay nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£825.31</td>
        </tr>
    
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="ctEmpId nhsuk-table__cell nhsuk-u-font-size-14" role="cell">3</td>
        <td class="ctStart nhsuk-table__cell nhsuk-u-font-size-14" role="cell">01/04/2018</td>
        <td class="ctEnd nhsuk-table__cell nhsuk-u-font-size-14" role="cell">31/03/2019</td>
        <td class="ctEmpConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£844.37</td>
        <td class="ctTpp nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£9079.24</td>
        <td class="ctEmployerConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£1305.60</td>
        <td class="ctEmpPay nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£9079.24</td>
        </tr>
    
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="ctEmpId nhsuk-table__cell nhsuk-u-font-size-14" role="cell">3</td>
        <td class="ctStart nhsuk-table__cell nhsuk-u-font-size-14" role="cell">01/04/2019</td>
        <td class="ctEnd nhsuk-table__cell nhsuk-u-font-size-14" role="cell">31/03/2020</td>
        <td class="ctEmpConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£1247.04</td>
        <td class="ctTpp nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£13409.03</td>
        <td class="ctEmployerConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£1928.21</td>
        <td class="ctEmpPay nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£13409.03</td>
        </tr>
    
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="ctEmpId nhsuk-table__cell nhsuk-u-font-size-14" role="cell">3</td>
        <td class="ctStart nhsuk-table__cell nhsuk-u-font-size-14" role="cell">01/04/2020</td>
        <td class="ctEnd nhsuk-table__cell nhsuk-u-font-size-14" role="cell">31/03/2021</td>
        <td class="ctEmpConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£147.17</td>
        <td class="ctTpp nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£1582.42</td>
        <td class="ctEmployerConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£227.55</td>
        <td class="ctEmpPay nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£1582.42</td>
        </tr>
    
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="ctEmpId nhsuk-table__cell nhsuk-u-font-size-14" role="cell">3</td>
        <td class="ctStart nhsuk-table__cell nhsuk-u-font-size-14" role="cell">01/04/2021</td>
        <td class="ctEnd nhsuk-table__cell nhsuk-u-font-size-14" role="cell">31/03/2022</td>
        <td class="ctEmpConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£755.70</td>
        <td class="ctTpp nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£8125.74</td>
        <td class="ctEmployerConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£1168.47</td>
        <td class="ctEmpPay nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£8125.74</td>
        </tr>
    
        <!-- Error row -->
        <tr class="nhsuk-table__row errorHighlight" id="contsError" role="row">
            <td class="ctEmpId nhsuk-table__cell nhsuk-u-font-size-14" role="cell"><span
                    class="errorTxt">3</span></td>
            <td class="ctStart nhsuk-table__cell nhsuk-u-font-size-14" role="cell">01/04/2022</td>
            <td class="ctEnd nhsuk-table__cell nhsuk-u-font-size-14" role="cell">31/03/2023</td>
            <td class="ctEmpConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£496.26</td>
            <td class="ctTpp nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£5063.88</td>
            <td class="ctEmployerConts nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£730.11</td>
            <td class="ctEmpPay nhsuk-table__cell nhsuk-u-font-size-14" role="cell">£5063.88</td>
        </tr> 
    </tbody> 
  </table>
</div>
{% endset %}
{% set hoursHistoryTable %}
<div class="nhsuk-hint">You can scroll left and right to see all columns if the table does not fit on your screen</div>
<div class="nhsuk-scrollable-pane" aria-label="Hours history" tabindex="0">
  <table class="nhsuk-table" role="table">
    <thead class="nhsuk-table__head">
      <tr role="row">
        <th scope="col" class="hhEmpId  nhsuk-u-font-size-14" role="columnheader">Employment ID</th>
        <th scope="col" class="hhStart nhsuk-u-font-size-14" role="columnheader">Start date</th>
        <th scope="col" class="hhEnd nhsuk-u-font-size-14" role="columnheader">End date</th>
        <th scope="col" class="hhPtHrs nhsuk-u-font-size-14" role="columnheader">Part time hours</th>
    </tr>
    </thead>
    <tbody class="nhsuk-table__body">

        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="hhEmpId nhsuk-table__cell nhsuk-u-font-size-14">1</td>
        <td class="hhStart nhsuk-table__cell nhsuk-u-font-size-14">10/11/2014</td>
        <td class="hhEnd nhsuk-table__cell nhsuk-u-font-size-14">31/03/2015</td>
        <td class="hhPtHrs nhsuk-table__cell nhsuk-u-font-size-14">613</td>
        </tr>
    
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="hhEmpId nhsuk-table__cell nhsuk-u-font-size-14">2</td>
        <td class="hhStart nhsuk-table__cell nhsuk-u-font-size-14">01/04/2015</td>
        <td class="hhEnd nhsuk-table__cell nhsuk-u-font-size-14">31/03/2016</td>
        <td class="hhPtHrs nhsuk-table__cell nhsuk-u-font-size-14">1574</td>
        </tr>
    
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="hhEmpId nhsuk-table__cell nhsuk-u-font-size-14">2</td>
        <td class="hhStart nhsuk-table__cell nhsuk-u-font-size-14">01/04/2016</td>
        <td class="hhEnd nhsuk-table__cell nhsuk-u-font-size-14">31/03/2017</td>
        <td class="hhPtHrs nhsuk-table__cell nhsuk-u-font-size-14">1596</td>
        </tr>
    
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="hhEmpId nhsuk-table__cell nhsuk-u-font-size-14">2</td>
        <td class="hhStart nhsuk-table__cell nhsuk-u-font-size-14">01/04/2017</td>
        <td class="hhEnd nhsuk-table__cell nhsuk-u-font-size-14">31/03/2018</td>
        <td class="hhPtHrs nhsuk-table__cell nhsuk-u-font-size-14">1574</td>
        </tr>
    
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="hhEmpId nhsuk-table__cell nhsuk-u-font-size-14">2</td>
        <td class="hhStart nhsuk-table__cell nhsuk-u-font-size-14">01/04/2018</td>
        <td class="hhEnd nhsuk-table__cell nhsuk-u-font-size-14">31/03/2019</td>
        <td class="hhPtHrs nhsuk-table__cell nhsuk-u-font-size-14">1564</td>
        </tr>
    
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="hhEmpId nhsuk-table__cell nhsuk-u-font-size-14">2</td>
        <td class="hhStart nhsuk-table__cell nhsuk-u-font-size-14">01/04/2019</td>
        <td class="hhEnd nhsuk-table__cell nhsuk-u-font-size-14">31/03/2020</td>
        <td class="hhPtHrs nhsuk-table__cell nhsuk-u-font-size-14">1620</td>
        </tr>
    
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="hhEmpId nhsuk-table__cell nhsuk-u-font-size-14">2</td>
        <td class="hhStart nhsuk-table__cell nhsuk-u-font-size-14">01/04/2020</td>
        <td class="hhEnd nhsuk-table__cell nhsuk-u-font-size-14">31/03/2021</td>
        <td class="hhPtHrs nhsuk-table__cell nhsuk-u-font-size-14">1799</td>
        </tr>
    
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="hhEmpId nhsuk-table__cell nhsuk-u-font-size-14">2</td>
        <td class="hhStart nhsuk-table__cell nhsuk-u-font-size-14">01/04/2021</td>
        <td class="hhEnd nhsuk-table__cell nhsuk-u-font-size-14">31/03/2022</td>
        <td class="hhPtHrs nhsuk-table__cell nhsuk-u-font-size-14">1762</td>
        </tr>
    
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="hhEmpId nhsuk-table__cell nhsuk-u-font-size-14">2</td>
        <td class="hhStart nhsuk-table__cell nhsuk-u-font-size-14">01/04/2022</td>
        <td class="hhEnd nhsuk-table__cell nhsuk-u-font-size-14">31/03/2023</td>
        <td class="hhPtHrs nhsuk-table__cell nhsuk-u-font-size-14">1799</td>
        </tr>
    
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="hhEmpId nhsuk-table__cell nhsuk-u-font-size-14">2</td>
        <td class="hhStart nhsuk-table__cell nhsuk-u-font-size-14">01/04/2023</td>
        <td class="hhEnd nhsuk-table__cell nhsuk-u-font-size-14">31/03/2024</td>
        <td class="hhPtHrs nhsuk-table__cell nhsuk-u-font-size-14">1799</td>
        </tr>
    
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="hhEmpId nhsuk-table__cell nhsuk-u-font-size-14">2</td>
        <td class="hhStart nhsuk-table__cell nhsuk-u-font-size-14">01/04/2024</td>
        <td class="hhEnd nhsuk-table__cell nhsuk-u-font-size-14">31/03/2025</td>
        <td class="hhPtHrs nhsuk-table__cell nhsuk-u-font-size-14">1799</td>
        </tr>
    
        <!-- Employment ID = 3 group -->
    
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="hhEmpId nhsuk-table__cell nhsuk-u-font-size-14">3</td>
        <td class="hhStart nhsuk-table__cell nhsuk-u-font-size-14">01/04/2015</td>
        <td class="hhEnd nhsuk-table__cell nhsuk-u-font-size-14">31/03/2016</td>
        <td class="hhPtHrs nhsuk-table__cell nhsuk-u-font-size-14">82</td>
        </tr>
    
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="hhEmpId nhsuk-table__cell nhsuk-u-font-size-14">3</td>
        <td class="hhStart nhsuk-table__cell nhsuk-u-font-size-14">01/04/2016</td>
        <td class="hhEnd nhsuk-table__cell nhsuk-u-font-size-14">31/03/2017</td>
        <td class="hhPtHrs nhsuk-table__cell nhsuk-u-font-size-14">103</td>
        </tr>
    
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="hhEmpId nhsuk-table__cell nhsuk-u-font-size-14">3</td>
        <td class="hhStart nhsuk-table__cell nhsuk-u-font-size-14">01/04/2017</td>
        <td class="hhEnd nhsuk-table__cell nhsuk-u-font-size-14">31/03/2018</td>
        <td class="hhPtHrs nhsuk-table__cell nhsuk-u-font-size-14">38</td>
        </tr>
    
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="hhEmpId nhsuk-table__cell nhsuk-u-font-size-14">3</td>
        <td class="hhStart nhsuk-table__cell nhsuk-u-font-size-14">01/04/2018</td>
        <td class="hhEnd nhsuk-table__cell nhsuk-u-font-size-14">31/03/2019</td>
        <td class="hhPtHrs nhsuk-table__cell nhsuk-u-font-size-14">357</td>
        </tr>
    
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="hhEmpId nhsuk-table__cell nhsuk-u-font-size-14">3</td>
        <td class="hhStart nhsuk-table__cell nhsuk-u-font-size-14">01/04/2019</td>
        <td class="hhEnd nhsuk-table__cell nhsuk-u-font-size-14">31/03/2020</td>
        <td class="hhPtHrs nhsuk-table__cell nhsuk-u-font-size-14">177</td>
        </tr>
    
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="hhEmpId nhsuk-table__cell nhsuk-u-font-size-14">3</td>
        <td class="hhStart nhsuk-table__cell nhsuk-u-font-size-14">01/04/2020</td>
        <td class="hhEnd nhsuk-table__cell nhsuk-u-font-size-14">31/03/2021</td>
        <td class="hhPtHrs nhsuk-table__cell nhsuk-u-font-size-14">53</td>
        </tr>
    
        <tr class="nhsuk-table__row hidden-row" role="row">
        <td class="hhEmpId nhsuk-table__cell nhsuk-u-font-size-14">3</td>
        <td class="hhStart nhsuk-table__cell nhsuk-u-font-size-14">01/04/2021</td>
        <td class="hhEnd nhsuk-table__cell nhsuk-u-font-size-14">31/03/2022</td>
        <td class="hhPtHrs nhsuk-table__cell nhsuk-u-font-size-14">193</td>
        </tr>
    
        <tr class="nhsuk-table__row errorHighlight" id="hrsError" role="row">
        <td class="hhEmpId nhsuk-table__cell nhsuk-u-font-size-14">
            <span class="errorTxt">3</span>
        </td>
        <td class="hhStart nhsuk-table__cell nhsuk-u-font-size-14">
            01/04/2022
        </td>
        <td class="hhEnd nhsuk-table__cell nhsuk-u-font-size-14">
            31/03/2023
        </td>
        <td class="hhPtHrs nhsuk-table__cell nhsuk-u-font-size-14">
            156
        </td>
        </tr>
    </tbody>
  </table>
</div>
{% endset %}
{% set linkedEmploymentTable %}
<div class="nhsuk-hint">You can scroll left and right to see all columns if the table does not fit on your screen</div>
<div class="nhsuk-scrollable-pane" aria-label="Linked employments" tabindex="0">
  <table class="nhsuk-table" role="table">
    <thead class="nhsuk-table__head" role="rowgroup">
      <tr role="row">
          <th scope="col" class="lePre nhsuk-table__header nhsuk-u-font-size-14" role="columnheader">Pre-remedy employment ID</th>
          <th scope="col" class="leRem nhsuk-table__header nhsuk-u-font-size-14" role="columnheader">Remedy employment ID</th>
          <th scope="col" class="lePost nhsuk-table__header nhsuk-u-font-size-14" role="columnheader">Post-remedy employment ID</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row" role="row">
            <td class="lePre nhsuk-table__cell nhsuk-u-font-size-14" role="cell">1</td>
            <td class="leRem nhsuk-table__cell nhsuk-u-font-size-14" role="cell">2</td>
            <td class="lePost nhsuk-table__cell nhsuk-u-font-size-14" role="cell"></td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
            <td class="lePre nhsuk-table__cell nhsuk-u-font-size-14" role="cell">3</td>
            <td class="leRem nhsuk-table__cell nhsuk-u-font-size-14" role="cell">5</td>
            <td class="lePost nhsuk-table__cell nhsuk-u-font-size-14" role="cell"></td>
        </tr>
    </tbody>
</table>
</div> 
{% endset %}

{% set serviceHistoryErrors %}
<div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="nhsuk-error-summary">
  <h2 class="nhsuk-error-summary__title" id="error-summary-title">
    Issues found
  </h2>
  <div class="nhsuk-error-summary__body">
    <p>There are 4 issues in the service history table. They must be fixed before the record can be processed.</p>
    <ul class="nhsuk-list nhsuk-error-summary__list" role="list">
      <li> <a href="#shError">Employment ID 3 and employment ID 5 cannot start on the same day</a></li>
      <li> <a href="#shError">Employment ID 3 end date missing</a></li>
      <li> <a href="#shError">Employment ID 3 update date incorrect</a></li>
      <li> <a href="#shError">Employment ID 5 start date incorrect</a></li>
    </ul>
  </div>
</div>
{% endset %}
{% set employmentHistoryErrors %}
<div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="nhsuk-error-summary">
  <h2 class="nhsuk-error-summary__title" id="error-summary-title">
    Issues found
  </h2>
  <div class="nhsuk-error-summary__body">
    <p>There are 2 issues in the employment history table. They must be fixed before the record can be processed. </p>
    <ul class="nhsuk-list nhsuk-error-summary__list" role="list">
      <li> <a href="#ehError">Employment ID 3 must appear in both service history and employment history</a></li>
      <li> <a href="#ehError">Employment ID 5 must appear in both service history and employment history</a></li>
    </ul>
  </div>
</div>
{% endset %}
{% set contsTppErrors %}
<div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="nhsuk-error-summary">
  <h2 class="nhsuk-error-summary__title" id="error-summary-title">
    Issue found
  </h2>
  <div class="nhsuk-error-summary__body">
    <p>There is 1 issue in the pension contributions table. They must be fixed before the record can be processed. </p>
    <ul class="nhsuk-list nhsuk-error-summary__list" role="list">
      <li> <a href="#contsError">Employment ID 3 must appear in both service history and employment history</a></li>
    </ul>
  </div>
</div>
{% endset %}
{% set hoursHistoryErrors %}
<div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="nhsuk-error-summary">
  <h2 class="nhsuk-error-summary__title" id="error-summary-title">
    Issue found
  </h2>
  <div class="nhsuk-error-summary__body">
    <p>There is 1 issue in the hours history table. It must be fixed before the record can be processed.</p>
    <ul class="nhsuk-list nhsuk-error-summary__list" role="list">
      <li> <a href="#hrsError">Employment ID 3 must appear in both service history and employment history</a></li>
    </ul>
  </div>
</div>
{% endset %}

{% block main %}
{% if not hideBack %}
  <div class="nhsuk-width-container">
    {{ backLink({
      "href": "javascript:history.go(-1)",
      "text": "Back"
    }) }}
    </div>
{% endif %}
<div class="nhsuk-width-container-fluid">

  <main class="nhsuk-main-wrapper" id="maincontent" role="main">
      {% block content %}
      {% endblock %}

  </main>
</div>
{% endblock %}

<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
  {{ footer({
    meta: {
      items: [
        {
          href: "https://www.nhsbsa.nhs.uk/our-policies/privacy",
          text: "Privacy policy"
        },
        {
          href: "/cookie-information",
          text: "Cookies"
        },
        {
          href: "https://www.nhsbsa.nhs.uk/our-policies/terms-and-conditions",
          text: "Terms and conditions"
        },
        {
          href: "#",
          text: "Accessibility statement"
        }
      ]
    },
    copyright:{
      html: "&copy; Crown copyright"
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script src="/nhsuk-frontend/nhsuk-frontend.min.js" type="module"></script>
  <script type="module">
    import { initAll } from '/nhsuk-frontend/nhsuk-frontend.min.js'
    initAll()
  </script>
  {% block scripts %}
    <script src="/cookie-banner.js" defer></script>
    <!-- Custom JavaScript files can be added to this file -->
    {% include "includes/scripts.html" %}
    <!-- For adding page specific JavaScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
